h1{
  text-align: center;
}
.game{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.flip-card {
  margin: 20px;
  width: 250px;
  height: 300px;
  transition: transform 1.8s;
  transform-style: preserve-3d;/*this property must be used with transform prop. if this prop. is not added then the last element will on top of first element*/
}

.flip-card.open {
  pointer-events: none; /*disables clicking when card is open*/
  //transform: rotateY(0);
}
.flip-card.matched{
  transition: 2s;
  display: none;
  //transform-style: preserve-3d;/*this property must be used with transform prop. if this prop. is not added then the last element will on top of first element*/
}



.flip-card-front, .flip-card-back {
  position: absolute; /*the element is positioned absolutely to its first positioned parent*/
  width: 100%;
  height: 100%;
  text-align: center;
  border: 5px solid black;
}

.flip-card-front {
  background-color: yellow;

}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  /*if 0 degrees then the second elemnt is in front of an first element, if 180 then it is hidden behind first element which is front card*/
  transform: rotateY(180deg);/*this card is already flipped 180degrees that is why is not visible */
}

.flip-card.red .flip-card-back {
  background-color: red;
  color: white;
  /*if 0 degrees then the second elemnt is in front of an first element, if 180 then it is hidden behind first element which is front card*/
  transform: rotateY(180deg);/*this card is already flipped 180degrees that is why is not visible */
}
